##QDRANT_URL=http://qdrant:6333
QDRANT_URL=http://localhost:6333
OPENAI_API_KEY=
COLLECTION_NAME=evviva_documents
OPENAI_MODEL=gpt-4o-mini
DENSE_MODEL=sentence-transformers/all-MiniLM-L6-v2
SPARSE_MODEL=Qdrant/bm25
COLBERT_MODEL=colbert-ir/colbertv2.0
IMAP_USER=
IMAP_PASSWORD=
CHILKAT_LICENSE_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
##POSTGRES_HOST=localhost
POSTGRES_HOST=
POSTGRES_PORT=
