QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=
COLLECTION_NAME=evviva_documents

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

DENSE_MODEL=sentence-transformers/all-MiniLM-L6-v2
SPARSE_MODEL=Qdrant/bm25
COLBERT_MODEL=colbert-ir/colbertv2.0
